body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #33333388;
}

.container {
    margin: 0 auto;
    padding: 20px;

}

.section {
    padding: 20px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 10px, inset (3px 3px 3px purple);
}

.about-me {
    border-bottom: 10px solid transparent;
    border-image: linear-gradient(to bottom, #f0f8ff, #f9f9f9);
    background-image: url(/caregiver/asset/images/Ausome\ Life\ Coach/3.png);
}

/* .reviews {
    background-color: #f9f9f9;
    border-bottom: 10px solid transparent;
    border-image: linear-gradient(to bottom, #f9f9f9, #e6ffe6);
    border-image-slice: 1;
    position: relative;
} */
.contact {
    background-color: #e6ffe6;
}

.section h2 {
    margin-bottom: 20px;
    color: #333;
}

/* .reviews-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
} */
/* .review {
    flex: 0 0 auto;
    width: calc(30.333% - 20px);
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-right: 20px;
    scroll-snap-align: start;
} */
.review:last-child {
    margin-right: 0;
}

.contact-form

/* .review-form */
    {
    display: flex;
    flex-direction: column;
}

.contact-form label

/* .review-form label  */
    {
    margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea

/* .review-form input,
.review-form textarea  */
    {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 25%;
    box-sizing: border-box;
}

.contact-form button

/* .review-form button  */
    {
    margin: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* .review-form button:hover */
.contact-form button:hover {
    margin: 10px;
    padding: 10px;

    background-color: #632626;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* .review-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.review-nav button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

.section-introduction {
    width: 100%;
    /* margin: 0 auto; */
    padding: 0px;
    font-size: smaller;
}

.navbar {
    background-color: #333;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #575757;
}

/* #new-review {
    width: 100%;
} */

.review-img {
    width: 100%;
}

.intro-img,
.aboutMe-img {
    width: 100%;
    height: 100%;

}

.aboutMeCap {
    border: 1px solid #333;
    border-radius: 1px 13px 13px 1px;
    padding: 10px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.aboutMe-container {
    display: inline-flex;
    width: 100%;
    background-color: white;
}

.book-btn {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.book-btn:hover {
    background-color: #504;
}

#captionAboutMe {
    font-size: smaller;
    font-family: fantasy;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    color: #4e5a4e;
    text-shadow: 1px 1px #6326264a;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4e5a4e;
}

/* Style for the video background */
#background-video {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 70%;
    height: auto;
    z-index: -1;
    background-size: cover;
    overflow: hidden;
}

/* Ensure the section positions relative to contain the video */
.section {
    position: relative;
    overflow: hidden;
}

#introduction {
    margin: 0 auto;
}

.section .content {
    position: relative;
    z-index: 2;
    color: #fff;
    /* Ensures text is readable */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    /* Full viewport height */
}

/* Position h1 and h4 absolutely within the content div */
.section .content h1,
.section .content h4 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.section .content h4 {
    top: 30%;
    /* Adjust as needed to position below the h1 */
}

.section.introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section.introduction .content p {
    margin-top: 60px;
    /* Adjust as needed to position below the h4 */
}

.section.introduction {
    height: 100vh;
    /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1,
h4 {
    color: #f0f8ff;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#intro-container {
    width: 80%;
    margin: 0 auto;
}

.section-events{
    background-color: #f0f8ff;
    height: 1200px;
}
.event {
    margin: 0 auto;
    text-align: center;
    font-family: serif;
    background-color: #f0f8ff;
}

.invite-btn {
    border: 2px solid #e6ffe6;
    border-radius: 5px;
    padding: 4px 20px;
    background-color: #ed4b4b;
    color: aliceblue;
    box-shadow: 3px 3px #1e5f1e87;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.section-contact{
    margin: 0 auto;
    background: ;
}