body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

.section {
    padding: 20px;
    margin-bottom: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.about-me {
    border-bottom: 10px solid transparent;
    border-image: linear-gradient(to bottom, #f0f8ff, #f9f9f9);
    background-image: url(/caregiver/asset/images/Ausome\ Life\ Coach/3.png);
}

/* CONTACT SECTION */
#contact {
    background-image: url(/caregiver/asset/images/Ausome\ Life\ Coach/contact1.png);
    margin: 10px;
    border-radius: 10px;
}

.contact-form {
    padding: 12px;
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    margin-left: 980px;
}

.contact-form input,
.contact-form textarea {
    margin: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    box-sizing: border-box;
}

.contact-form button {
    margin: 0 auto;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #632626;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.section-introduction {
    width: 100%;
    padding: 0;
    font-size: smaller;
}

.navbar {
   background-color: rgba(240, 248, 255, 0.376);
    padding: 10px;
    position:fixed;
    border-radius: 50%;
    max-width: 90%;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0;
}

#roboto-flex-navbar {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
  }

.navbar a {
    color: #0e0232;
    text-decoration:none;
    padding: 10px 15px;
    border-radius: 5px;
   font-weight: 800;
}

.navbar a:hover {
    background-color: #a299995f;
}

.review-img {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.529);
}

.intro-img,
.aboutMe-img {
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 4px rgb(123, 135, 123);
}

.aboutMeCap {
    width: 100%;
    padding: 10px;
    box-shadow: 3px 3px 4px rgb(123, 135, 123);
}

#about-me-paragraph {
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: small;
}

.aboutMe-container {
    display: inline-flex;
    width: 100%;
    background-color: white;
}

.book-btn {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.book-btn:hover {
    background-color: #504;
}

#captionAboutMe {
    font-size: smaller;
    font-family: fantasy;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    color: #4e5a4e;
    text-shadow: 1px 1px #6326264a;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4e5a4e;
}

/* Style for the video background */
#background-video {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
    background-size: cover;
    overflow: hidden;
}

/* Ensure the section positions relative to contain the video */
.section {
    position: relative;
    overflow: hidden;
}

#introduction {
    margin: 0 auto;
    width: 100%;
}

.section .content {
    position: relative;
    z-index: 2;
    color: #fff;
    /* Ensures text is readable */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Position h1 and h4 absolutely within the content div */
.section .content h1,
.section .content h4 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.section .content h4 {
    top: 30%;
    /* Adjust as needed to position below the h1 */
}

h1,
h2,
h4 {
    color: #f0f8ff;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#intro-container {
    width: 80%;
    margin: 0 auto;
}

.section-events {
    background-color: #f0f8ff;
    height: 1200px;
}

.event {
    margin: 0 auto;
    text-align: center;
    font-family: serif;
    background-color: #f0f8ff;
}

.invite-btn {
    border: 2px solid #e6ffe6;
    border-radius: 5px;
    padding: 4px 20px;
    background-color: #ed4b4b;
    color: aliceblue;
    box-shadow: 3px 3px #1e5f1e87;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.section-contact {
    margin: 0 auto;
    background-color: grey;
    background-size: cover;
    justify-content: center;
}

form {
    width: 45%;
    justify-content: center;
    margin: 0 auto;
}

h4 {
    width: 55%;
    margin: 0 auto;
    padding: 30px;
}

/* Package Pricing Styles */
.section-pricing {
    padding: 50px;
    text-align: center;
    background-color: #f9f9f9;
}

.pricing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#reviews {
    margin: 50px;
}

.pricing-option {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 9px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.pricing-option:hover {
    box-shadow: 3px 0px 18px rgb(14, 30, 15);
}

.pricing-option h3 {
    margin-top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pricing-option .price {
    font-size: 24px;
    color: #333;
}

.book-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgb(95, 103, 53);
}

.book-btn:hover {
    background-color: #555;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#back-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    bottom: 20px; /* Place the button 20px from the bottom */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Ensure it is on top of other elements */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #333; /* Background color */
    color: black; /* Text color */
    cursor: pointer; /* Pointer/hand icon */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#back-to-top:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}